contracts/.DS_Store
libraries/.DS_Store
.DS_Store
/node_modules
packages/*/node_modules
.env
truffle-config.js
LICENSE
flat.sh
*.json
package-lock.json
__pycache__
.history
.hypothesis/
build/
reports/
.env
