contracts/.DS_Store
libraries/.DS_Store
.DS_Store
node_modules/
packages/
truffle-config.js
LICENSE
flat.sh
package-lock.json
__pycache__
.history
.hypothesis/
build/
reports/
.env
brownie-config.yaml